@page "/counter"

@inherits BlazorApp.Pages.CounterBase

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="GetToken">Click me</button>

<input value="@redirectURI" @oninput="(EventArgs) => {SetValue(EventArgs?.Value?.ToString());}"/>
<a href=@redirectURI>URI: @redirectURI</a>


<button class="btn btn-primary" @onclick="Login">Login</button>


<button class="btn btn-primary" @onclick="ListDefaultBlobsAsync">List Blobs (Default)</button>

<button hidden="@(authZCredential == null)" class="btn btn-primary" @onclick="ListUserBlobsAsync">List Blobs (User)</button>


<p role="status">AuthZCode:@AuthZCode</p>

<p role="status">blobsString: @blobsString</p>
